<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
姓名：<input type="text" th:value="${name}"><br/>
年龄：<input type="text" th:value="${age}"><br/>
简介：<input type="text" th:value="${info}"><br/>
<img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201607%2F26%2F20160726135721_YKkML.thumb.224_0.jpeg&refer=http%3A%2F%2Fb-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1621144456&t=1a8a0019c3dce180199e1f3363bfe059">
</body>
</html>