<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbpic.588ku.com%2Felement_origin_min_pic%2F00%2F91%2F72%2F3756f17decda3f5.jpg&refer=http%3A%2F%2Fbpic.588ku.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1621145606&t=f4a532e9b778fa431388d46385ce5146" type="image/x-icon" rel="shortcut icon">
</head>
<body>
姓名：<input type="text" th:value="${name}"><br/>
年龄：<input type="text" th:value="${age}"><br/>
简介：<input type="text" th:value="${info}"><br/>
<img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201607%2F26%2F20160726135721_YKkML.thumb.224_0.jpeg&refer=http%3A%2F%2Fb-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1621144456&t=1a8a0019c3dce180199e1f3363bfe059">
</body>
</html>